@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* common styles */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
.pink-word {
  color: #ff42a5;
}
.btn-primary {
  border-radius: 40px;
  border-style: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #ff42a5;
  padding: 15px 30px;
}

/* nav styles start*/
.nav-container {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo img {
  width: auto;
  height: 2.1rem;
}
.logo h2 {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
}
.nav-menu {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  list-style: none;
  color: #3c354f;
  font-size: 1.1rem;
  font-weight: 500;
}
#btn-follow {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 10px 20px;
}
.nav-menu li a {
  margin: auto 5px;
  color: #3c354f;
}
/* nav styles end*/

/* banner styles start*/
.banner-container {
  display: flex;
  align-items: center;
  max-width: 85%;
  margin-left: 80px
}
.banner-title {
}
.banner-title h3 {
  color: #0b0223;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}
.banner-title h1 {
  font-size: 6rem;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-title p {
  color: #534c64;
  font-size: 1.2rem;
  font-weight: 500;
}
.banner-image {
  height: 600px;
}
/* banner styles end*/

/* responsive part start */
/* media quares for mobile */
@media screen and (max-width: 576px) {
  header {
    margin-top: 110px;
  }
  .nav-container,
  .nav-menu {
    flex-direction: column;
  }
  .nav-menu {
    margin-top: 40px;
  }
}
/* media quares for tablet */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    margin-top: 60px;
  }
  .nav-container {
    flex-direction: column;
  }
  .nav-menu {
    margin-top: 20px;
  }
}
/* responsive part end */
