@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* common styles */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
.pink-word {
  color: #ff42a5;
}
.btn-primary {
  border-radius: 40px;
  border-style: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #ff42a5;
  padding: 15px 30px;
}
.linear-gradient {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* nav styles start*/
.nav-container {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo img {
  width: auto;
  height: 2.1rem;
}
.logo h2 {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
}
.nav-menu {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  list-style: none;
  color: #3c354f;
  font-size: 1.1rem;
  font-weight: 500;
}
#btn-follow {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 10px 20px;
}
.nav-menu li a {
  margin: auto 5px;
  color: #3c354f;
}
/* nav styles end*/

/* banner styles start*/
.banner {
  max-width: 100%;
  margin-bottom: 100px;
}
.banner-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}
.banner-title {
  background-image: url(./images/Group_14.png);
  background-repeat: no-repeat;
  fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%);
}
.banner-title h3 {
  color: #0b0223;
  font-size: 2.5rem;
  font-weight: 600;
}
.banner-title h1 {
  font-size: 6rem;
  font-weight: 800;
}
.banner-title p {
  color: #534c64;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 8px 0;
  text-transform: lowercase;
}
/* banner styles end*/

/* Online Games Style  */
.online-games {
  max-width: 1150;
  margin: auto;
  height: fit-content;
}
.online-games h2 {
  text-align: center;
  color: #0b0223;
  font-size: 3rem;
  font-weight: 700;
}
.online-games > p {
  text-align: center;
  font-size: 1.1rem;
  margin-top: 1.2rem;
  margin-bottom: 2rem;
}
.games-card {
  max-height: 600px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;
  padding: 2.5rem;
}
.card-img {
  position: relative;
}
.card-img img {
  width: 100%;
  padding: 5px;
}

.card .play-btn {
  text-align: center;
  position: absolute;
  top: 0;
  background-color: #0b022395;
  padding: 42% 30%;
  border-radius: 16px;
  border: 4px solid #f948b2;
  cursor: pointer;
  display: none;
}
.card-img:hover .play-btn {
  display: block;
}
.play-btn i {
  font-size: 3rem;
  color: #fcf8f8;
}
.play-btn small {
  display: block;
  font-size: 1.1rem;
  font-weight: 500;
  color: #f948b2;
  margin-top: 10px;
}

.card > p {
  margin-top: 10px;
}

/* play instantly style   */
.play-instantly {
  margin: 130px 0;
  height: fit-content;
}
.play-instantly-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
}

.play-instantly-text {
  width: 30%;
  text-align: right;
  margin: auto;
}

.play-instantly-text h2 {
  text-align: right;
  font-size: 2.5rem;
  font-weight: 700;
}

.play-instantly-text p {
  color: #534c64;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 30px;
}

.play-instantly-image {
  position: relative;
}
.play-instantly-image .large-image {
  width: 80%;
  display: block;
  margin: auto;
}
.play-instantly-image .small-image {
  position: absolute;
  width: 38%;
  top: 290px;
  left: 0px;
}

/* Game Collection style */
.game-collection {
  min-width: 1150px;
  padding: 0 50px;
}
.game-collection h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 4rem;
}
.game-container {
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.games {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 5px solid transparent;
  padding: 6px;
}
.games img {
  width: 50px;
  height: 50px;
}
.games p {
  font-weight: 600;
}
.games:hover {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 2px solid #ff42a5;
  border-radius: 48px;
  transition: 0.5s;
  cursor: pointer;
}


/* footer style */
footer {
  background: #0b0223;
  color: #fff;
  padding: 60px 0;
}
.footer-container {
  text-align: center;
  margin: auto;
}
#footer-logo {
  justify-content: center;
  padding: 30px 0;
  margin-bottom: 1rem;
}
.footer-manu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.footer-manu ul li {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
}
.footer-container .icon {
  font-size: 2.2rem;
  margin: 3rem 0px;
}
.footer-container .icon i {
  cursor: pointer;
  margin: 0 1rem;
}
.terms ul,
.copyright p {
  list-style: none;
  display: inline-flex;
  padding: 10px;
  align-items: flex-start;
  gap: 35px;
}
.terms ul li,
.copyright p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: 500;
}
/* responsive part start */
/* media quares for mobile */
@media screen and (max-width: 576px) {
  header {
    margin-top: 110px;
  }
  .nav-container,
  .nav-menu {
    flex-direction: column;
  }
  .nav-menu {
    margin-top: 40px;
  }
}
/* media quares for tablet */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    margin-top: 60px;
  }
  .nav-container {
    flex-direction: column;
  }
  .nav-menu {
    margin-top: 20px;
  }
}
/* responsive part end */
